<footer class="main-footer">
    <div class="hidden-xs" style="text-align:center">
        <h6>
            Copyright &copy;- @DateTime.Now.ToString("yyyy")  Fuel Card Solution. All rights reserved -- <b>Tovuti Group</b>
            
        </h6>
    </div>
   
</footer>